@charset "utf-8";

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
/* RESET */
* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}

/* FORMATAÇÃO DA PÁGINA */

h1, h2{
	font-family: 'Montserrat', sans-serif;
}

p, li {
	font-family: 'Lato', sans-serif;
}

body {
	background-color: #251e3e;
}

header {
	text-align: center;
	background-color: #251e3e;
	color: #fff;
	font-size: 1.3em;
	padding: 20px;
}

header h1 {
	font-size: 1.95em;
}

header img {
	height: 55px;
	max-width: 80%;
	margin: 5px;
	margin-bottom: 30px;
	-webkit-tap-highlight-color: transparent;
}

section#all-videos {
	text-align: center;
	background-color: #251e3e;
	padding: 10px;
}

div.video {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 44%;
	box-shadow: 0px 0px 10px rgba(0,0,0,.4);
	text-align: center;
	padding: 20px;
	padding-top: 35px;
	padding-bottom: 40px;
	background-color: #651e3e;
	color: #fff;
	margin: 20px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.video h2 {
	font-size: 1.6em;
	padding: 5px;
	margin-bottom: 40px;
	transition: ease-out color 0.2s
}

.video iframe {
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.2);
	max-width: 100%;
}

div#btn button {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #ffe338;
	color: #051e3e;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	transition: background-color ease-in 0.2s;
	-webkit-tap-highlight-color: transparent;
}

div#btn button:hover, div#btn button:active {
	background-color: #f4bc1c;
	cursor: pointer;
}

footer {
	background-color: #851e3e;
	text-align: center;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	height: 90px;
}

footer a {
	line-height: 90px;
	text-decoration: underline;
	color: #fff;
}

footer a:hover, footer a:active {
	color: #ffe338;
}

/* DESIGN RESPONSIVO */
/* SMALL DEVICES */
@media screen and (max-width: 500px) {
	header h1 {
		font-size: 1.7em;
	}

	div.video {
		width: 90%;
		padding-top: 25px;
		padding-bottom: 35px;
	}

	div.video h2 {
		font-size: 1.45em;
		margin-bottom: 30px;
	}

	div.video iframe {
		width: 295px;
		height: 165px; 
	}
}

/* MEDIUM DEVICES */
@media screen and (min-width: 501px) and (max-width: 800px) {
	div.video {
		width: 80%;
	}
}