@charset "utf-8";

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
/* RESET */
* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}

/* FORMATAÇÃO DA PÁGINA */
body {
	text-align: center;
	padding: 20px;
	background-color: #451e3e;
}

section#login {
	text-align: center;
	display: block;
	position: relative;
	margin: auto;
	margin-top: 50px;
	width: 400px;
	color: #fff;
}

section#login h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.1em;
	padding: 5px;
	margin-bottom: 30px;
}

section#login form {
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	border-radius: 5px;
	background-color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	padding: 30px;
}

#login p {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	color: #e60026;
	padding: 5px;
}

#login form input {
	width: 300px;
	height: 50px;
	padding: 1%;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.1em;
	border-radius: 2px;
	box-shadow: 0px 0px 5px rgba(0,0,0,.4);
}


#login form input[type="submit"] {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	background-color: #ffe338;
	color: #051e3e;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	transition: background-color ease-in 0.2s;
	-webkit-tap-highlight-color: transparent;
}

#login form input[type = "submit"]:hover, #login form input[type = "submit"]:active {
	background-color: #f4bc1c;
	cursor: pointer;
}

/* DESIGN RESPONSIVO */

/* SMALL MOBILE DEVICES */
@media screen and (max-width: 500px) {
	section#login {
		width: 95%;
	}

	#login form input {
		width: 100%;
	}
}